<accordion>
    <accordion-group heading="ITERATE OVER AN ARRAY OF OBJECTS">
    <div class="card">
        <div class="card-body">
            <div id="table">
                <table class="table table-boarded">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>TITLE</th>
                            <th>DEPARTMENT</th>
                            <th>MANAGER</th>
                            <th>SALARY</th>
                            <th>IS ODD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let movie of moviesArray; let i = index; let o = odd" [sdaColorChange]="o">
                            <td>{{i + 1}}</td>
                            <td>{{movie.name}}</td>
                            <td>{{movie.department}}</td>
                            <td>{{movie.manager}}</td>
                            <td>{{movie.salary}}</td>                   
                            <td>{{o}}</td>                   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </accordion-group>
    <accordion-group heading="ITERATE OVER OBJECT OF OBJECTS">
        <div class="card">
        <div class="card-body">
            <div id="table">
                <table class="table table-boarded">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>TITLE</th>
                            <th>DEPARTMENT</th>
                            <th>MANAGER</th>
                            <th>SALARY</th>
                            <th>IS ODD</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of moviesObject | keyvalue; let i = index; let o = odd" sdaColorChangeHover>
                        <td>{{ m.key}}</td>
                        <td>{{ m.value.name}}</td>
                        <td>{{ m.value.department ? m.value.department : 'N/A'}}</td>
                        <td>{{ m.value.manager ? m.value.manager : 'N/A'}}</td>
                        <td>{{ m.value.salary}}</td>
                        <td>{{ o}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </accordion-group>
    <accordion-group heading="PIPES">
        <div class="card">
            <div class="card-body">
                <div id="table">
                    <table class="table table-boarded">
                        <thead>
                            <tr>
                                <th>Original value</th>
                                <th>Pipe used</th>
                                <th>Modified value</th>
                            </tr>
                        </thead>
                        <tbody>
                    <tr>
                        <td>THIS WAS UPPERCASE</td>
                        <td>lowercase</td>
                        <td>{{'THIS WAS UPPERCASE' | lowercase}}</td>
                    </tr>
                    <tr>
                        <td>{{date}}</td>
                        <td>date: 'fullTime'</td>
                        <td>{{ date | date: 'fullTime'}}</td>
                    </tr>
                    <tr>
                        <td>abcdefghijklmnop</td>
                        <td>slice:3:7</td>
                        <td>{{ 'abcdefghijklmnop' | slice:3:7}}</td>
                    </tr>
                    <tr>
                        <td>0.3333333</td>
                        <td>percent</td>
                        <td>{{ 0.3333333 | percent}}</td>
                    </tr>
                    <tr>
                        <td>13.25</td>
                        <td>currency: 'USD'</td>
                        <td>{{ 13.25 | currency: 'USD'}}</td>
                    </tr>
                    <tr>
                        <td>name: 'John', surname: 'Doe'</td>
                        <td>json</td>
                        <td>{{ sampleObject | json }}</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>modulo (custom pipe)</td>
                        <td>{{  10 | modulo: 3 }}</td>
                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>



