
<!-- <div *ngIf="show" class="row container d-flex justify-content-center mt-5">
  <img src="../assets/bulb-off.png" alt="Bulb">  
</div>

<div *ngIf="!show" class="row container d-flex justify-content-center mt-5">
    <img src="../assets/bulb-on.png" alt="Bulb">  
  </div> -->

  <div class="row container d-flex justify-content-center mt-5">
    <img [src]="bulb" alt="Bulb" class="picSize">  
  </div>

  <div class="row container d-flex justify-content-center my-2">
    <button type="text" class="btn btn-primary mr-2" (click)="changeLight()">{{label.toUpperCase()}}</button>
</div>