<div class="row container d-flex justify-content-center my-2">
    <button type="text" class="btn btn-primary mr-2" (click)="enable = true">ENABLE</button>
    <button type="text" class="btn btn-primary" (click)="enable = false">DISABLE</button>
</div>

<div class="row container d-flex justify-content-center">
  <input #input type="text" [(ngModel)]="superhero" [disabled]="enable"/>
</div>

<div class="row container d-flex justify-content-center my-2">
    <button type="text" class="btn btn-primary mr-2" (click)="show = true">SHOW</button>
    <button type="text" class="btn btn-primary" (click)="show = false">HIDE</button>
</div>

<div *ngIf="show" class="row container d-flex justify-content-center">
    <p>Superhero's name: </p>
  <p [ngStyle]="{
    color: 'red',
    fontSize: fontSizeFromTS,
    'font-weight': 'bold'
  }">&nbsp;{{ superhero }}</p>
</div>
<div class="row container d-flex justify-content-center my-2">
  <div id="list">
    <ul [ngSwitch]="superhero" >
      <li *ngSwitchCase="'Hulk'" style="cursor: pointer;" [ngStyle]="{backgroundColor: backgrounds[superhero]}" [ngClass]="{border: true, background: backgroundActive}" (click)="backgroundActive = !backgroundActive"><img src="../../assets/hulk.png" style="height: 200px;"></li>
      <li *ngSwitchCase="'Ironman'" [ngStyle]="{backgroundColor: backgrounds[superhero]}" (click)="backgroundActive = !backgroundActive"><img src="../../assets/iron-man.png" style="height: 200px;"></li>
      <li *ngSwitchCase="'Deadpool'">Deadpool</li>
      <li *ngSwitchCase="'Thor'">Thor</li>
      <li *ngSwitchCase="'Spiderman'">{{superhero}}</li>
      <li *ngSwitchDefault>HULK DOESN'T SMASH</li>
    </ul>
   </div>

</div>