<div class="row container d-flex justify-content-center">
    <button type="text" class="btn btn-primary mr-2" (click)="selectedTab = true">TAB 1</button>
    <button type="text" class="btn btn-primary" (click)="selectedTab = false">TAB 2</button>
</div>
<div *ngIf="selectedTab">
    <sda-two-child [dataInput]="variableFromParent" (dataFromChild)="receiveMessage($event)"></sda-two-child>
</div>
<div *ngIf="!selectedTab">
    <sda-two-child ></sda-two-child>
</div>
<input type="text" [(ngModel)]="variableFromParent">